.stylesWrapper {
  font-family: 'Montserrat';
  margin-top: 90px;
}
.imgSection {
  height: fit-content;
  position: relative;
  margin-bottom: 50px;
}

.img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.titlePos {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.title {
  margin: 0;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 10px;
  font-weight: 600;
}

.cardTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  font-size: 18px;
  font-weight: 400;
}
.cardImg {
  width: 288px;
  height: 178px;
}
.cardHover {
  transition: box-shadow 0.3s;
  border: none;
}

.cardHover:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.headertitle {
  display: inline-block;
  margin: 0;
  font-weight: bolder;
}
.headertitle > h4 {
  font-weight: 600;
}

.btnCard {
  padding: 0;
  border: none;
  width: fit-content;
}

.btnCustom {
  color: #924b54 !important;
  border-color: #924b54 !important;
  width: 100px;
  transition: 0.5s;
  margin-top: 2rem;
}

.btnCustom:hover {
  background-color: #924b54 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.btnCustomLVIdeas {
  color: #924b54 !important;
  border-color: #924b54 !important;
  width: 100px;
  transition: 0.5s;
  /* margin-top: 2rem; */
  margin-left: 8rem;
}

.btnCustomLVIdeas:hover {
  background-color: #924b54 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
