.imgSection {
  height: 400px;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  color: #fff;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.paragraph {
  width: 40%;
  font-size: 18px;
  font-weight: 300;
}
.imgOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.titlePos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 20%;
}

.cardTitle {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 10px;
}

.cardHover {
  transition: box-shadow 0.3s;
  border: none;
  width: 18rem;
  height: 16rem;
}

.cardHover:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.headertitle {
  display: inline-block;
  margin: 0;
}

.btnCard {
  padding: 0;
  border: none;
  width: fit-content;
  background-color: #fff;
  margin-bottom: 40px;
}
.btnCustom {
  color: #924b54 !important;
  border-color: #924b54 !important;
  width: 100px;
  transition: 0.5s;
  margin-top: 2rem;
}

.btnCustom:hover {
  background-color: #924b54 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.btnPos {
  margin-left: 127px;
}
.column {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardImg {
  max-height: 100%;
  height: 16rem;
}
