.a{position: absolute;
width: 249px;
height: 240px;
left: 105px;
top: 228px;

background: #faf4ed;
border-radius: 6px;}

.b {
    position:static;
    border-radius: 6px 6px;
    border:  1 solid black;
    background-color: white;
    width: 249px;
    height: 240px;
}
.c {

/* Heading 2 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 72px;
/* or 240% */

text-align: center;
letter-spacing: -0.015em;

color: #000000;}