.loveItWrapper {
  background-color: #faf4ed;
  padding: 60px 0;
  margin-bottom: 80px;
}
.a {
  position: absolute;
  width: 249px;
  height: 240px;
  left: 105px;
  top: 228px;

  background: #faf4ed;
  border-radius: 10px;
}

.b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px;
  padding: 16px;
  background-color: white;
  width: 210px;
  height: 240px;
}
.b > p {
  text-align: center;
}
.c {
  /* Heading 2 */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 72px;
  /* or 240% */

  text-align: center;
  letter-spacing: -0.015em;

  color: #000000;
}
.d {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  line-height: 72px;
  /* or 360% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #000000;
}
.loveit_d {
  padding-bottom: 40px;
}
