.noneUnderscore {
  text-decoration: none;
}
.text {
  font-weight: 450;
  font-size: 17px;
  margin: 10px 10px;
  color: #000000;
}

.divBig {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divBorder {
  border: 0.8px solid rgba(0, 0, 0, 0.48);
  box-sizing: border-box;
  height: 400px;
  padding: 10px;
}
.styleImg {
  height: 230px;
  width: 230px;
  object-fit: contain;
  padding: 5px;
}
