.nav {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  padding: 9px;
  border-right: 1px solid #eaeaea;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.topbar > a {
  margin: 8px 0;
  text-decoration: none;
  /* background: white; */
  /* border-radius: 4px; */
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  /* border: 1px solid #eaeaea; */
  transition: all 0.125s ease;
}

.title {
  font-size: 30px;
}

.nav > a:hover {
  background-color: #eaeaea;
}

.input {
  margin: 32px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 8px 16px;
  height: 28px;
}

.topbar {
  width: 40%;
}
.button {
  width: 200px;
}

.btnCustomOutlinePrimary {
  color: #924b54 !important;
  border-color: #924b54 !important;
}
.btnCustomPrimary {
  color: #fff !important;
  background-color: #924b54 !important;
  border-color: #924b54 !important;
  width: 79.7px;
}
