.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 9px;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  background-color: #fafafa;
  border-right: 1px solid #eaeaea;
}

.navactive {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 9px;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  background-color: #fafafa;
  border-right: 1px solid #eaeaea;
  opacity: 0.8;
}

.topbar > a {
  margin: 8px 0;
  font-size: 14px;
  padding: 12px 16px;
  letter-spacing: 0.025em;
  color: #333;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.125s ease;
}

.title {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.nav > a:hover {
  background-color: #eaeaea;
}

.input {
  margin: 32px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 8px 16px;
  height: 28px;
}

.topbar {
  width: 40%;
}
.button {
  outline: none;
}
.item {
  list-style-type: none;
}
.itemDropdown {
  color: #333;
  padding: 12px 16px;
  letter-spacing: 0.025em;
  font-weight: bolder;
  text-transform: uppercase;
}

.btnCustomOutlinePrimary {
  color: #924b54 !important;
  border-color: #924b54 !important;
}
.btnCustomPrimary {
  color: #fff !important;
  background-color: #924b54 !important;
  border-color: #924b54 !important;
  width: 79.7px;
}
