.a {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 72px;
/* or 300% */

letter-spacing: -0.015em;

color: #000000;
}
.b {font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 72px;
/* or 300% */

letter-spacing: -0.015em;

color: #000000;}

.c {position: absolute;
width: 287.62px;
height: 36.47px;
left: 150px;
top: 0px;

/* Common/ Label */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 72px;
/* or 450% */

display: flex;
align-items: center;
letter-spacing: -0.015em;

color: #000000;}

.d {
    position: absolute;
    bottom: 0;
    left: 0;
}

.e {
    position: relative;
    height: 100%;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 29px;
/* or 181% */

display: flex;
align-items: center;
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);
}

.f {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 72px;
/* or 450% */

display: flex;
align-items: center;
letter-spacing: -0.015em;

color: #000000;
}
