.containerCustome {
  margin-top: 90px;
  padding: 0;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  position: relative;
  top: 0px;
}

.img {
  position: relative;
}

.btnCustom {
  color: #fff !important;
  background-color: #924b54 !important;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 50px;
  transition: 0.3s;
}

.btnCustom:hover {
  background-color: #793841 !important;
}
